.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(190, 190, 190);
    width: 98vw;
    min-height: 98vh;
    /* align-items: flex-start; */
}
.head {
    display: flex;

}
.head .input{
    margin-left: 110px;
}

.listContent{
    margin-top: 10px;
    /* display: flex; */
    /* flex-direction: column; */
}

.content {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* align-items: flex-start; */
}
input {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    /* display: block; */
}
.WordsList {
    /* margin-right: 5vw; */
    margin-left: 10px;
}

.buttons {
    display: flex;
}
.phrasesBtn {
    height: 25px;
    min-width: 100px;
    width: fit-content;
    cursor: pointer;
}

.closeBtn {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    height: 25px;
    min-width: 100px;
    width: fit-content;
}

.closeBtn:hover {
    font-weight: bold;
    background-color: rgb(248, 175, 175);
}