.container {
    margin-right: 50px;
    min-width: 200px;
    width: fit-content;
    max-height: 88vh;
    overflow-y: auto;
}
.tableСell0 {
    /* display: flex; */
    text-align: center;
}
.chekBox {
    background-color: rgb(0, 17, 255);
    display: flex;
    margin: 0;
    padding: 0;
    width: 30px;
}
.tableСell2 {
    text-align: center;
};

.tableСell1 {
    min-width:fit-content;
}

.tableStr {
    /* font-weight: bold; */
}

.tableStr:hover {
    cursor: pointer;
    background-color: rgb(130, 255, 255);
}

.wordsList {
    right: 0px;
    border: 1px solid rgb(128, 128, 128);
    top: 0px;
}
table thead tr {
    background-color: #ffffff;
}

table tbody tr:nth-child(odd){
	background: rgb(231, 231, 247);
}
table tbody tr:nth-child(even){
	background: #ffffff;
}